.bold {
    @apply font-medium text-default;
  }

  :global(.dark) .bold {
    @apply text-inverse;
  }
  
  .italic {
    font-style: italic;
  }
  
  .strikethrough {
    text-decoration: line-through;
  }
  
  .underline {
    text-decoration: underline;
  }